.countries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  
}

.flag-container {
    
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.country-card > *{
margin-top: 0;
}

.country-card {
  
    object-fit: cover;
}
   
